*, *::before, *::after {
  box-sizing: border-box;
}

html {
  font-size: 18px;
  font-family: 'Montserrat', sans-serif;
  color: $black;
  background-color: $white;
  line-height: 1.6;
}

body {
  margin: 0;
  padding-top: $header-height;
}

h1, h2, h3, h4, h5 {
  font-family: 'Pangolin', cursive;
  color: $primary;
}
