.container {
  width: 100%;
  max-width: $site-width;
  margin: 0 auto;
  padding: 0 1rem;
}

.center {
  text-align: center;
}

.right {
  text-align: right;
}

.funny-font {
  font-family: 'Pangolin', cursive;
}
