.container {
  width: 100%;
  max-width: $site-width;
  margin: 0 auto;
  padding: 0 1rem;

  @media (max-width: $small) {
    padding: 0 .5rem;
  }
}

.center {
  text-align: center;
}

.right {
  text-align: right;
}

.funny-font {
  font-family: $funny-font;
  font-weight: normal;
}

.badge-link {
  display: inline-block;
  text-decoration: none;
  padding: .25em .75em;
  margin: 0 .25em;
  border-radius: 1.5em;
  background-color: $primary;
  color: $white;
  font-weight: bold;
  font-size: .9em;
  font-variant: small-caps;
  letter-spacing: .05em;

  &:hover {
    background-color: darken($primary, 5%);
    color: $white;
  }
}
