// colors
$primary: #bd0829;

$black: #333;
$dark: #555;
$light: #ddd;
$white: #fff;

// layout
$site-width: 1200px;
$header-height: 4rem;
$sidebar-width: 18rem;

// Breakpoints
$large: $site-width;
$medium: 900px;
$small: 600px;
$x-small: 320px;

$breakpoints: 'xs' $x-small, 's' $small, 'm' $medium, 'l' $large;

$nb-col: 2;
$gutter: .5rem;

// font
$text-font: 'Josefin Slab', serif;
$title-font: 'Amatic SC', sans-serif;
$funny-font: 'Fredericka the Great', cursive;
