// colors (https://coolors.co/5f0f40-9a031e-fb8b24-e36414-0f4c5c)

$color1: #5f0f40;
$color2: #9a031e;
$color3: #fb8b24;
$color4: #e36414;
$color5: #0f4c5c;

$black: #444;
$dark: #837b7b;
$light: #ecdcda;
$white: #fff;

// layout

$site-width: 768px;
