#home-page {
  .hero-zone {
    text-align: center;
    color: $primary;
    padding: 5rem 0;
    background-size: cover;
    // background-attachment: fixed;
    background-repeat: no-repeat;
    background-position: center;

    h2 {
      font-size: 5rem;
      letter-spacing: .05em;
    }
  }
}
