#page-home {
  .hero-zone {
    text-align: center;
    padding: 6rem 0;
    background-size: cover;
    background-repeat: no-repeat;
    background-position: center;

    h2 {
      color: $white;
      text-shadow: 0 0 .5em $black;
      font-size: 5rem;
      letter-spacing: .1em;
    }
  }
}
