#page-recette {
  .recette {
    display: flex;

    .recette-content {
      flex: 1;

      p > img {
        display: block;
        width: 100%;
        margin: 1rem auto;
      }

      blockquote {
        position: relative;
        padding: .5rem 1rem;
        margin: 1rem 0;
        background-color: $light;
        font-style: italic;
        border-left: .5rem solid $dark;
        border-radius: .25rem;

        &::before {
          content: '"';
          font-size: 8rem;
          color: $dark;
          position: absolute;
          top: -3rem;
          right: 1rem
        }
      }
    }

    .recette-details {
      order: 1;
      width: 300px;
      padding: 1rem 0rem 1rem 2rem;

      .recette-details-content {
        position: sticky;
        top: calc(#{$header-height} + 1rem);
      }
    }
  }

  @media (max-width: $medium) {
    .recette {
      flex-direction: column;

      .recette-details {
        order: 0;
        width: 100%;
        padding: 1rem;

        .recette-details-content {
          position: relative;
          top: 0;
        }
      }
    }
  }
}
