// print only stylesheet
@media print {
  @page { margin: 2cm }

  html {
    font-size: 13px;
  }

  body {
    padding-top: 0;
  }


  h1 {
    font-size: 24pt;
    page-break-after: avoid;
  }

  h2, h3, h4 {
    font-size: 14pt;
    margin-top: 25px;
    page-break-after: avoid;
  }

  a {
    page-break-inside:avoid
  }

  blockquote {
    page-break-inside: avoid;
  }
  h1, h2, h3, h4, h5, h6 {
    page-break-after:avoid;
    page-break-inside:avoid
  }

  img {
    page-break-inside:avoid;
    page-break-after:avoid;
  }

  table, pre {
    page-break-inside:avoid;
  }

  ul, ol, dl  {
    page-break-before:avoid
  }

  .container {
    max-width: 21cm;
  }

  .site-header,
  .comments {
    display: none;
  }

  .page-header {
    background: none!important;
    padding: 2rem 0;

    h1 {
      color: $dark;
    }
  }

  #page-recette {
    .content-wrapper {
      flex-direction: column;
    }

    .recette-details {
      width: 100%;
      order: -1;
      .card {
        display: flex;
        flex-wrap: wrap;

        .card-item {
          width: 1/3*100%;
          border-bottom: none;
        }
      }
    }

    .recette-content {
      a[href^=http]:after {
        font-style: italic;
        content: " < " attr(href) " > ";
      }

      a[href^="#"]:after {
        content: none;
      }

      \$a:after > img {
        content: "";
      }

      p > img {
        display: block;
        width: 50%;
        margin: auto;
        page-break-inside: avoid;
      }
    }
  }
}
