<header class="site-header">
  <div class="container">
    <div class="logo">
      <h1>Sarah Cuisine</h1>
    </div>

    <nav>
      <ul>
        <li><a href="/">Accueil</a></li>
      </ul>
    </nav>
  </div>
</header>
