<%
function isActive(condition) {
  if(condition && condition === 'home') return is_home()
  if(condition && condition === 'post') return is_post()
  return false
}
%>

<header class="site-header">
  <div class="container">
    <div class="logo funny-font">
      <%- link_to('/', 'Sarah Cuisine') %>
    </div>

    <button class="nav-toggle">
      <div class="line"></div>
      <div class="line"></div>
      <div class="line"></div>
    </button>

    <nav>
      <ul>
        <% site.data.settings.menu.forEach(menuItem => { %>
          <li>
            <%- link_to(menuItem.path, menuItem.name, {
              class: is_current(menuItem.path) || isActive(menuItem.active_condition)
                ? 'active'
                : ''
            }) %>
          </li>
        <% }) %>
      </ul>
    </nav>
  </div>
</header>
