<%
  var recettes = (recettes || page.posts || []).sort('date', -1)
  var limit
  if (limit && recettes.length > limit) {
    recettes = recettes.slice(0, limit)
  }
%>

<div class="grid">
  <% recettes.each(function (recette) { %>
    <div class="grid-item s-2">
      <div class="box">
        <%- partial('card/card', { items: [
            {
              type: 'image-link',
              link: url_for(recette.path),
              image: recette.thumbnail || recette.featured_img || theme.header_bg,
              title: recette.title,
              subtitle: `le ${date(recette.date, 'DD/MM/YYYY')}` + (recette.author ? ` par ${recette.author}` : '')
            },
            {
              type: 'html',
              html: `
                <h4>${list_categories(recette.categories, { show_count: false, style: 'category', separator: ', ', transform: titlecase })}</h4>
                <p>${list_tags(recette.tags, { show_count: false, style: 'tag', separator: '', class: {a: 'badge-link'} })}</p>
                <div class="right">
                  <small class="disqus-comment-count" data-disqus-identifier="${recette.path}">
                    ? Commentaires
                  </small>
                </div>
              `
            },
            {
              type: 'text',
              subtitle: `Pour ${recette.nb_persons} personnes.`,
              class: 'center',
              hide: !recette.nb_persons
            },
            {
              type: 'html',
              html: `
                <h5>Difficulté :</h5>
                ${ partial('./stars', { stars: recette.difficulty })}
              `,
              hide: !recette.difficulty
            },
            {
              type: 'button',
              link: url_for(recette.path),
              text: 'Voir la recette'
            }
          ]}) %>
      </div>
    </div>
  <% }) %>
</div>

<% if (page.total > 1) { %>
  <hr>
  <div class="paginator">
    <%-
      paginator({
        prev_text: '&lt; ',
        next_text: ' &gt;'
      })
    %>
  </div>
<% } %>
