<%
var stars = Math.min(5, Math.round(Math.abs(stars)))
var rest = 5 - stars %>
%>

<div class="stars" title="Difficulté de <%= stars %>/5">
  <% for (var i = 0; i < stars; i++) { %>
    <span class="star">&#9733;</span>
  <% } %>

  <% for (var i = 0; i < rest; i++) { %>
    <span class="star">&#9734;</span>
  <% } %>
</div>
