.card {
  position: relative;
  border: 1px solid $light;
  border-radius: .25rem;
  overflow: hidden;

  .card-item {
    padding: .5rem;

    &:not(:last-child) {
      border-bottom: 1px solid $light;
    }

    h1, h2, h3, h4, h5 {
      margin: 0;
    }

    &.card-image {
      position: relative;
      color: $white;
      text-shadow: 0 0 .25em rgba($black, .5);
      padding-top: 5rem;
      background-color: $black;
      background-size: cover;
      background-repeat: no-repeat;

      &:before {
        content: '';
        box-shadow: 0 0 5rem rgba($black, .5) inset;
        position: absolute;
        top: 0;
        left: 0;
        right: 0;
        bottom: 0;
      }

      &.avatar {
        padding: 100% 0 0;
      }

      .card-image-content {
        position: relative;
        z-index: 1;

        h3, h5 {
          color: $white;
        }
      }
    }

    &.card-button {
      display: block;
      text-align: center;
      box-shadow: none;
      border-radius: 0;
      font-weight: bold;
      color: $primary;

      &:hover {
        background-color: $light;
      }
    }
  }

  .card-image-link, .card-button {
    text-decoration: none;
  }
}
