<div id="page-recettes-list">
  <%- partial('_partials/page-header', { title: 'Mes recettes' }) %>

  <div class="page-content">
    <div class="container">
      <h3>Toutes mes recettes</h3>

      <%- partial('_components/recettes-list.ejs') %>
    </div>
  </div>
</div>
