<div id="page-recettes-list">
  <%- partial('_partials/page-header', { title: 'Mes recettes' }) %>

  <div class="page-content">
    <div class="container">
      <p>Voici la liste complète de mes recettes:</p>

      <hr>

      <%- partial('_pages/recettes/recettes-list.ejs') %>
    </div>
  </div>
</div>
