<div id="page-home">
  <div class="hero-zone" style="background-image: url(<%= theme.header_bg %>);">
    <div class="container">
      <h2 class="funny-font">Sarah Cuisine</h2>
    </div>
  </div>

  <section class="page-content">
    <div class="container">
      <h3>
        Mes dernières recettes :
      </h3>

      <%- partial('_components/recettes-list', {
        recettes: site.posts,
        limit: 3
      }) %>
    </div>
  </section>
</div>
