<div id="page-home">
  <div class="hero-zone" style="background-image: url(<%= theme.header_bg %>);">
    <div class="container">
      <h2 class="funny-font">Sarah Cuisine</h2>
    </div>
  </div>

  <div class="page-content">
    <div class="content-wrapper container">
      <main>
        <section>
          <h3>Mes dernières recettes :</h3>

          <%- partial('_components/recettes-list', {
            recettes: site.posts,
            limit: site.data.settings.max_items_home
          }) %>
        </section>
      </main>

      <aside>
        <div class="aside-content">
          <%- partial('_components/aside/default', {}, { cache: true }) %>
        </div>
      </aside>
    </div>
  </div>
</div>
