<div id="home-page">
  <div class="hero-zone" style="background-image: url(<%= theme.herozone_bg %>);">
    <div class="container">
      <h2>Sarah Cuisine</h2>
    </div>
  </div>

  <section>
    <div class="container">
      <h3>
        Mes recettes :
      </h3>

      <ul>
        <% page.posts.each(post => { %>
          <li>
            <%- link_to(post.path, post.title) %>
          </li>
        <% }) %>
      </ul>
    </div>
  </section>
</div>
