<div id="page-default">
  <%- partial('_partials/page-header') %>

  <div class="page-content">
    <div class="content-wrapper container">
      <main>
        <section>
          <%- page.content %>
        </section>

        <% if (page.type === 'contact') { %>
          <section>
            <%- partial('_partials/types/contact') %>
          </section>
        <% } %>
      </main>

      <aside>
        <div class="aside-content">
          <%- partial('_components/aside/default', {}, { cache: true }) %>
        </div>
      </aside>
    </div>
  </div>
</div>
