<div id="page-recette">
  <%- partial('_partials/page-header') %>

  <div class="page-content">
    <div class="content-wrapper container">
      <main>
        <section class="recette-content">
          <%- page.content %>
        </section>
      </main>

      <aside class="recette-details">
        <div class="aside-content">
          <%- partial('_components/aside/recette') %>
        </div>
      </aside>
    </div>
  </div>
</div>
