<div id="page-recette">
  <%- partial('_partials/page-header') %>

<div class="page-content">
    <div class="recette container">
      <aside class="recette-details">
        <%- partial('_components/recette-details')%>
      </aside>

      <article class="recette-content">
        <%- page.content%>
      </article>
    </div>
  </div>
</div>
