<div class="post-header">
  <div class="container">
    <h2><%= page.title %></h2>
  </div>
</div>

<article class="post-content">
  <div class="container">
    <%- page.content%>
  </div>
</article>
