<div id="page-recettes-list">
  <%- partial('_partials/page-header', { title: page.tag }) %>

  <div class="page-content">
    <div class="content-wrapper container">
      <main>
        <section>
          <h3>Mes recettes avec le tag "<%= page.tag %>" :</h3>

          <%- partial('_components/recettes-list.ejs') %>
        </section>
      </main>

      <aside>
        <div class="aside-content">
          <%- partial('_components/aside/default', {}, { cache: true }) %>
        </div>
      </aside>
    </div>
  </div>
</div>
